    app . config 
    this is an MT file 
    i fill the new data here to see the response
    and make sure your not intrested in this file 
    yes you can fill some unimportance data into this file

    aap to bewafa or sitamgar nhi

    aapne fir muh kiun udhar kar liya

    ham ko ma.alūm hai jannat kī haqīqat lekin 

    dil ke ḳhush rakhne ko 'ġhālib' ye ḳhayāl achchhā hai 
